@import '@/assets/scss/colors';

/* Bootstrap overrides */
$primary: $brand-primary;
$info: #00A0E5;
$dark: $dark-bg;
$font-family-sans-serif: "Arial", Arial, Helvitica, sans-serif;
$zindex-dropdown: 1025 !default;
